- title("#{@collection.title}_购物指南")
- head_desc("#{@collection.title},#{@collection.description} - 购物指南")
- keywords("购物指南,gouwuzhinan,#{@collection.title}")
- path(@path)
- h1(@collection.title)

.wrapper
  %div
    %img{src: "#{@collection.img_url}", alt: "#{@collection.title}"}
    .collection-header-mask
      %p.title #{@collection.title}
      %p.sub-title #{@collection.description}
      %span.icon-left-top
      %span.icon-right-bottom
      %p.sno
        %a{href: "/"} 购物指南
        %a{href: "/cc/#{@collection.category}/"} 分类购物指南
  = render partial: "jd_media/sku_list_2", locals: {skus: @skus}
  = render partial: "jd_media/collection_list", locals: {cs: @cs}
